<nav [ngClass]="{ sticky: isScrolling }" class="navbar-container">
  <div class="navbar">
    <a class="navbar--logo" [routerLink]="['/home']">
      <figure>
        <img
          [src]="[
            'https://res.cloudinary.com/willykronara/image/upload/v1652297906/logo_ma6jsh.png'
          ]"
          alt="rick and morty logo"
        />
        <h1 class="font-large">Rick and Morty</h1>
      </figure>
    </a>
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/randomCharacter']">Character</a>
    <a [routerLink]="['/allCharacters']">People</a>
  </div>
</nav>
