.navbar-container{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 1rem;
    transition: 0.7s;
    z-index: 2;
}

.navbar {

    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.navbar a{
    color: var(--red-main-color);
    text-decoration: none;
    font-weight: 600;
}

.navbar--logo{
    width: 50%;
}

.navbar--logo figure{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* color: var(--white-color); */
}
.navbar--logo img{
    width: 5rem;
    height: auto;
    margin-right: 1rem;
}


.sticky {
    background-image: linear-gradient(to right, var(--red-main-color) 0%, var(--dark-main-color) 84%);
    padding: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sticky div a {
    color: var(--white-color);
    
}

@media only screen and (max-width: 768px){
    .font-large{
        font-size: 1.5rem;
    }
    .font-medium{
        font-size: 1rem;
    }
}