<main class="cover-container">
  <video
    class="cover-video"
    src="https://res.cloudinary.com/willykronara/video/upload/v1652292964/trailer4_fninv7.mp4"
    autoplay
    loop
    muted
  ></video>
  <h1>Rick and Morty</h1>
  <p>A fan page made with love</p>
</main>
