<form [formGroup]="form" (ngSubmit)="searchCharacter()">
  <label for="name">Name:</label>
  <input type="text" formControlName="name" />
  <label for="status">Status:</label>
  <select formControlName="status">
    <option value="">Choose a status</option>
    <option *ngFor="let status of allStatus">{{ status }}</option>
  </select>
  <button type="submit">send</button>
</form>

<button (click)="prevCharacters()" [disabled]="page === 1">prev</button>
<button
  *ngIf="characters$ | async as data"
  (click)="nextCharacters()"
  [disabled]="page === data.info.pages"
>
  next
</button>
<character-card [character]="characters$"></character-card>
